@model IEnumerable<EventsApp.MyEvent>

@{
    ViewBag.Title = "Index";
}

<script>
    $(function () {
        var allEventTimes = $(".eventContainer");
        var humanizeTimes = function () {
            $.each(allEventTimes, function () {
                var eventTime = new Date($(this).find(".eventTime").text());
                var eventCountdown = countdown(new Date(), eventTime).toString();                
                $(this).find(".countDown").text(eventCountdown);                
            });
        };
        humanizeTimes();
        setInterval(humanizeTimes, 1000);        
    });       
</script>
<script>
    
    $(function GetClickedElementsEventId () {
        $(".eventContainer").on("click touch", function () {
            var eventId = $(this).children("div.eventId").text();
            console.log(eventId);
            return eventId;
        });});
</script>
<div class="titles">
    <h2>My Events</h2>
    <p>@Html.ActionLink("Create New", "Create")</p>
</div>


<section id="eventsSection">
    <div class="eventCard">
        <ul>
            @foreach (var item in Model)
            {
                <li class="eventContainer">
                    <div class="eventId" style="display: none">@item.EventId</div>
                    <div class="eventName">@Html.DisplayFor(model => item.EventName)</div>
                    <div class="eventTime" style="display: none">@item.EventDate.ToString("MM/dd/yyyy")</div>
                    <div class="countDown"></div>
                    <div id="crudLinks">
                        @Html.ActionLink("Edit", "Edit", new { id = item.EventId })
                        @Html.ActionLink("Details", "Details", new { id = item.EventId })
                        @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                    </div>                    
                </li>
            }
        </ul>
    </div>    
</section>